<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.amolaldar.utils.Listeners"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.amolaldar.errorValidationTest"/>
      <class name="org.amolaldar.StartShop"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
